@import 'tailwindcss';
@import '@fontsource-variable/plus-jakarta-sans';

@theme {

	--font-sans: 'Plus Jakarta Sans Variable', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'IBM Plex Mono', 'Fira Code', monospace;

	--color-*: initial;
	--color-neutral-50: #f7f8f7;
	--color-neutral-100: #f1f2f1;
	--color-neutral-200: #e4e6e6;
	--color-neutral-300: #cfd2d1;
	--color-neutral-400: #b0b6b6;
	--color-neutral-500: #a2a9a9;
	--color-neutral-600: #7d8585;
	--color-neutral-700: #676e6f;
	--color-neutral-800: #575c5d;
	--color-neutral-900: #4b5050;
	--color-neutral-950: #2a2d2d;


	/* Theme should be hotswappable */
	--color-primary-50: #f2fbfa;
	--color-primary-100: #d2f5f2;
	--color-primary-200: #a5eae5;
	--color-primary-300: #70d8d3;
	--color-primary-400: #42bfbd;
	--color-primary-500: #2aa7a7;
	--color-primary-600: #1e8183;
	--color-primary-700: #1c6769;
	--color-primary-800: #1b5254;
	--color-primary-900: #1b4446;
	--color-primary-950: #0a2629;



	--color-warning-50: #fffbeb;
	--color-warning-100: #fef3c7;
	--color-warning-200: #fde68a;
	--color-warning-300: #fcd34d;
	--color-warning-400: #fbbf24;
	--color-warning-500: #f59e0b;
	--color-warning-600: #d97706;
	--color-warning-700: #b45309;
	--color-warning-800: #92400e;
	--color-warning-900: #78350f;
	--color-warning-950: #45141d;

	--color-success-50: #ecfdf5;
	--color-success-100: #d1fae5;
	--color-success-200: #a7f3d0;
	--color-success-300: #6ee7b7;
	--color-success-400: #34d399;
	--color-success-500: #10b981;
	--color-success-600: #059669;
	--color-success-700: #047857;
	--color-success-800: #065f46;
	--color-success-900: #064e3b;
	--color-success-950: #0f172a;

	--color-danger-50: #fef2f2;
	--color-danger-100: #fee2e2;
	--color-danger-200: #fecaca;
	--color-danger-300: #fca5a1;
	--color-danger-400: #f87171;
	--color-danger-500: #ef4444;
	--color-danger-600: #dc2626;
	--color-danger-700: #b91c1c;
	--color-danger-800: #991b1b;
	--color-danger-900: #7f1d1d;
	--color-danger-950: #450a0a;

	--color-black: #000;
	--color-white: #fff;

	@keyframes translate-x-fullrange {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(100%);
		}
	}
	--animate-translate-x-fullrange: translate-x-fullrange 1s ease-in-out infinite;
}



html, body, #app {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: var(--font-sans);
	word-spacing: 0.3em;
	font-size: 16px;
	color: #333;
}
